@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #1db954;
  background: rgba(0, 0, 0, 0.2);
}
body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 90%;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.wrapper header {
  font-size: 28px;
  font-weight: 600;
}
.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 50px;
}
.inputField input {
  width: 90%;
  height: 100%;
  outline: none;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputField button {
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 10px;
  font-size: 21px;
  outline: none;
  background: #1db954;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.8;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}
.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}
.todoList li {
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  border-radius: 12px;
  padding: 15px;
  color: white;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}
.todoList li .icon {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: #ff3b30;
  width: 45px;
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon {
  right: 0px;
}
.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background: #1db954;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active {
  opacity: 1;
  pointer-events: auto;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(to bottom, #f0fff0 100%, #e0f7e0 0%);
  }
  .wrapper {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
  }
  .inputField input {
    background: rgba(255, 255, 255, 0.8);
    color: #111;
  }
  .inputField input:focus {
    border-color: #1db954;
    background: rgba(255, 255, 255, 0.9);
  }
  .todoList li {
    background: rgba(0, 128, 0, 0.05);
    color: #000000;
  }
  .todoList li .icon {
    background: #ff3b30;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, #1d2518 100%, #181c25 0%);
  }
  .wrapper {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  .inputField input {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  .inputField input:focus {
    border-color: #1db954;
    background: rgba(0, 0, 0, 0.8);
  }
  .todoList li {
    background: rgba(0, 128, 0, 0.1);
    color: #fff;
  }
  .todoList li .icon {
    background: #ff3b30;
  }
}
